In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
from sklearn.externals import joblib
linearreg=joblib.load('linearregmodel_joblib')
logisticreg=joblib.load('logisticregmodel_joblib')
decisiont=joblib.load('decisionmodel_joblib')

In [14]:
dlog=pd.read_csv("datafinal.csv")
dlog

         RED     GREEN      BLUE  CONTRAST
0   1.193838  1.292709  1.474207  3.592616
1   1.770404  1.773150  1.786835  1.577978
2   1.653037  1.676203  1.731656  0.367916
3   1.109614  1.129940  1.180059  2.195816
4   1.239767  1.259789  1.334634  0.489772
5   1.294873  1.309135  1.358154  0.409610
6   1.352350  1.353687  1.378534  0.607733
7   1.302412  1.299711  1.296759  0.999308
8   0.938366  0.952580  0.977974  0.317992
9   1.087416  1.106309  1.128782  0.131178
10  0.652215  0.780572  0.890732  7.392235
11  1.450771  1.422526  1.361762  0.909466
12  0.871664  0.982131  1.086305  0.219308
13  0.838470  0.949846  1.046281  0.129374
14  0.872713  0.957814  1.019535  0.292133

In [15]:
p=logisticreg.predict(dlog)
dlog['PM']=p
dlog

         RED     GREEN      BLUE  CONTRAST   PM
0   1.193838  1.292709  1.474207  3.592616   75
1   1.770404  1.773150  1.786835  1.577978  157
2   1.653037  1.676203  1.731656  0.367916  157
3   1.109614  1.129940  1.180059  2.195816   75
4   1.239767  1.259789  1.334634  0.489772  157
5   1.294873  1.309135  1.358154  0.409610  157
6   1.352350  1.353687  1.378534  0.607733  157
7   1.302412  1.299711  1.296759  0.999308  157
8   0.938366  0.952580  0.977974  0.317992  157
9   1.087416  1.106309  1.128782  0.131178  157
10  0.652215  0.780572  0.890732  7.392235   75
11  1.450771  1.422526  1.361762  0.909466  157
12  0.871664  0.982131  1.086305  0.219308  157
13  0.838470  0.949846  1.046281  0.129374  157
14  0.872713  0.957814  1.019535  0.292133  157

In [16]:
dtree=pd.read_csv("datafinal.csv")
dtree

         RED     GREEN      BLUE  CONTRAST
0   1.193838  1.292709  1.474207  3.592616
1   1.770404  1.773150  1.786835  1.577978
2   1.653037  1.676203  1.731656  0.367916
3   1.109614  1.129940  1.180059  2.195816
4   1.239767  1.259789  1.334634  0.489772
5   1.294873  1.309135  1.358154  0.409610
6   1.352350  1.353687  1.378534  0.607733
7   1.302412  1.299711  1.296759  0.999308
8   0.938366  0.952580  0.977974  0.317992
9   1.087416  1.106309  1.128782  0.131178
10  0.652215  0.780572  0.890732  7.392235
11  1.450771  1.422526  1.361762  0.909466
12  0.871664  0.982131  1.086305  0.219308
13  0.838470  0.949846  1.046281  0.129374
14  0.872713  0.957814  1.019535  0.292133

In [17]:
df=decisiont.predict(dtree)
dtree['PM']=df
dtree

         RED     GREEN      BLUE  CONTRAST  PM
0   1.193838  1.292709  1.474207  3.592616   2
1   1.770404  1.773150  1.786835  1.577978   2
2   1.653037  1.676203  1.731656  0.367916   2
3   1.109614  1.129940  1.180059  2.195816   2
4   1.239767  1.259789  1.334634  0.489772   0
5   1.294873  1.309135  1.358154  0.409610   0
6   1.352350  1.353687  1.378534  0.607733   0
7   1.302412  1.299711  1.296759  0.999308   0
8   0.938366  0.952580  0.977974  0.317992   1
9   1.087416  1.106309  1.128782  0.131178   2
10  0.652215  0.780572  0.890732  7.392235   1
11  1.450771  1.422526  1.361762  0.909466   1
12  0.871664  0.982131  1.086305  0.219308   1
13  0.838470  0.949846  1.046281  0.129374   1
14  0.872713  0.957814  1.019535  0.292133   1

In [18]:
dlin=pd.read_csv("datafinal.csv")
dlin

         RED     GREEN      BLUE  CONTRAST
0   1.193838  1.292709  1.474207  3.592616
1   1.770404  1.773150  1.786835  1.577978
2   1.653037  1.676203  1.731656  0.367916
3   1.109614  1.129940  1.180059  2.195816
4   1.239767  1.259789  1.334634  0.489772
5   1.294873  1.309135  1.358154  0.409610
6   1.352350  1.353687  1.378534  0.607733
7   1.302412  1.299711  1.296759  0.999308
8   0.938366  0.952580  0.977974  0.317992
9   1.087416  1.106309  1.128782  0.131178
10  0.652215  0.780572  0.890732  7.392235
11  1.450771  1.422526  1.361762  0.909466
12  0.871664  0.982131  1.086305  0.219308
13  0.838470  0.949846  1.046281  0.129374
14  0.872713  0.957814  1.019535  0.292133

In [21]:
dl=linearreg.predict(dlin)
dlin['PM']=dl
dlin

         RED     GREEN      BLUE  CONTRAST           PM
0   1.193838  1.292709  1.474207  3.592616  2467.658868
1   1.770404  1.773150  1.786835  1.577978   -61.016967
2   1.653037  1.676203  1.731656  0.367916 -1244.748208
3   1.109614  1.129940  1.180059  2.195816  1212.570947
4   1.239767  1.259789  1.334634  0.489772  -709.790151
5   1.294873  1.309135  1.358154  0.409610  -833.988697
6   1.352350  1.353687  1.378534  0.607733  -662.828013
7   1.302412  1.299711  1.296759  0.999308  -190.088984
8   0.938366  0.952580  0.977974  0.317992  -567.349687
9   1.087416  1.106309  1.128782  0.131178  -914.658434
10  0.652215  0.780572  0.890732  7.392235  6976.197288
11  1.450771  1.422526  1.361762  0.909466  -386.641424
12  0.871664  0.982131  1.086305  0.219308  -726.648839
13  0.838470  0.949846  1.046281  0.129374  -786.024817
14  0.872713  0.957814  1.019535  0.292133  -611.918966